.main {
  display: inline;
}

.mid_body {
  display: flex;
}

.banner {
  height: 50px;
  margin-bottom: 30px;
}
.controls {
  background-color: grey;
  display: flex;
  width: 40%;
  border-radius: 20px;
  margin-left: 15%;
  padding: 10px;
  margin-bottom: 5%;
}

.controls__block {
  display: flex;
}

.controls__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.controls__button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.controls__button i {
  font-size: 15px;
}

.controls__button span {
  font-size: 15px;
}

.chat_window {
  bottom: 10px;
  left: 10px;
  position: absolute;
  min-width: 50%;
  height: 100%;
}

.messages {
  overflow-y: scroll;
  color: black;
  list-style: none;
  z-index: 100;
  width: 65%;
  height: 85%;
  position: absolute;
  bottom: 30px;
}

.participants {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  position: relative;
  left: 15vw;
  width: 30%;
  border-radius: 10%;
  padding: 5%;
}

.participants ul {
  list-style-type: none;
  padding: 0px;
}

.input_box {
  background-color: white;
  z-index: 100;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 1.5vw;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
}

.input_box input {
  height: 3vw;
  width: 15vw;
}

.message_container input {
  width: 100%;
}

.leave__meeting {
  color: #eb534b;
}

.leave__meeting__button {
  margin-left: 20%;
}

.unmute,
.stop,
.hide {
  color: #cc3b33;
}

.hidden {
  display: none;
}

#video-grid {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#user-video > video {
  position: absolute;
  left: -5vw;
  top: -2.5vw;
  height: 40vw;
  width: 60vw;
}

#user-video {
  position: relative;
  overflow: hidden;
  border-radius: 0.7vw;
  height: 35vw;
  width: 50vw;
  left: 10%;
  top: 10%;
  margin-bottom: 30px;
}
.video-pip {
  position: relative;
  overflow: hidden;
  border-radius: 0.2vw;
  height: 10vw;
  width: 15vw;
}

.video-pip > video {
  position: absolute;
  left: -2.5vw;
  top: -2.5vw;
  height: 15vw;
  width: 20vw;
}

video {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

@media only screen and (max-width: 800px) {
  .mobile-hide {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .resp-font-size {
    font-size: 10px;
  }
  .user_id {
    font-size: 5px;
  }
}

@media only screen and (min-width: 1600px) {
  .resp-font-size {
    font-size: 20px;
  }
  .user_id {
    font-size: 10px;
  }
}
